@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* name change */

:root {
	--Dark: #040404;
	--Dark-L1: #0e1317;
	--Dark-L2: #191e22;
	--Grey: #a4b0c1;
	--Grey-D1: #637897;
	--Grey-D2: #586d8e;
	--Light: #f7fbff;
	--Light-D1: #edf2f6;
	--Light-D2: #e4e8ec;
	--Primary: #0077cc;
	--Background-light: #c8e6ff;
	--Navy-blue: #043c6c;
	--Light-blue: #54a4d4;
}

body {
	font-family: 'Poppins', sans-serif;
	margin: 0px;
	background-color: Var(--Background-light);
	max-height: calc(100vh - 50px);
}


.container_AppMain{
	position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-inline: 1em;
    margin-top: 0.4em;
}

.container_App {
	width: 100vw;
	/*max-width: 500px;
	/*overflow-y: scroll;  /* Hide vertical scrollbar */
	/*overflow-x: hidden; /* Hide horizontal scrollbar */
	max-height: 100vh;
	height: 100vh;
	margin: 0px;
}
/*
.container_App::-webkit-scrollbar {
	display: none;
}

 Hide scrollbar for IE, Edge and Firefox 
.container_App {
	-ms-overflow-style: none; 
	scrollbar-width: none; 
}*/
.card{
	padding: 20px;
	border-radius: 10px;
	background-color: white;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.185);
	margin-bottom: 10px;
}
.card--link{
	cursor: pointer;
	user-select: none;
}