.login{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: column  ; 
}
form{
    display:flex;
    flex-direction: column;
    max-width: 600px;
    width: 600px;
    position: relative;
    top:30vh;
    transform: translateY(-50%);
}

input, textarea{
    border-radius: 10px;
    margin-bottom: 20px;
    border:1px solid gray;
}

label{
    background-color: whitesmoke;
    font-size: larger;
}

header{
    font-size: xx-large;
    background-color: slategray;
    width: 100%;
}

