.box{
    width:100px;
    height:100px;
    background:teal;
    color: white;
    text-align: center;

    /* call the animation */
    animation: move 10s linear 2s infinite alternate;
    position: relative;
    animation-iteration-count: infinite;
}

/* define the animation */
@keyframes move {
   0% {
       background:teal;
       transform: rotate(0deg) scale(1);
       left: 0vw;
       top: 0vh;
   } 
   25%{
       background: blue;
       transform: rotate(90deg) scale(5);
       left: 50vw;
       top: 100vh;
   }
   50%{
       background: black;
       transform: rotate(180deg) scale(1);
       left: 100vw;
       top: 0vh;
   }
   75%{
       background: red;
       transform: rotate(270deg) scale(5);
       left: 0vw;
       top: 100vh;
   }
   100%{
       background:yellow;
       transform: rotate(360deg) scale(0);
       left: 100vw;
       top: 0vh;
   }
}