body{
  margin-top: 100px;
  margin-left: 300px;
  margin-right:300px;
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);;
}
.h2{
  font-family: fantasy;
}
p{
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 20px;
  font-family: sans-serif;
}
img{
  float: right;
  width: 370px;
  height: 300px;
}