.main{
  gap: 10px;
  text-align: center;

  color: rgb(21, 75, 21);
  background-color: rgb(133, 79, 8);

  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

header{
  font-size: 60px;
}

.blogTitle{
  grid-row: 1 / 2;
  grid-column: 1 / 8;

  color:rgb(133, 79, 8);
  background-color: cadetblue;

  font-size: 60px;
}

.box{
  width: 200px;
  height: 200px;
  background-image: 'pokerpic.jpg'; 
  position: relative;
  background-size: 200px 200px;
}

.box2{
  width: 200px;
  height: 200px;
  background-image: 'pokerpic.jpg'; 
  position: relative;
  background-size: 200px 200px;
}

.box3{
  width: 200px;
  height: 200px;
  background-image: 'kachow.jpg'; 
  position: relative;
  background-size: 200px 200px;
}

.box4{
  width: 200px;
  height: 200px;
  background-image: 'pokerpic.jpg'; 
  position: relative;
  background-size: 200px 200px;
}

.box5{
  width: 200px;
  height: 200px;
  background-image: 'Ninjago.jpg'; 
  position: relative;
  background-size: 200px 200px;
}

.box6{
  width: 200px;
  height: 200px;
  background-image: 'Nerf.jpg'; 
  position: relative;
  background-size: 200px 200px;
}

.box7{
  width: 200px;
  height: 200px;
  background-image: 'pokerpic.jpg'; 
  position: relative;
  background-size: 200px 200px;
}

.box8{
  width: 200px;
  height: 200px;
  background-image: 'Webkinz.jpg'; 
  position: relative;
  background-size: 200px 200px;
}

.box9{
  width: 200px;
  height: 200px;
  background-image: 'pokerpic.jpg'; 
  position: relative;
  background-size: 200px 200px;
}



.box:active, .box:hover{
  animation: elliot 1s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.box2:active, .box2:hover{
  animation: elliot 1s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.box3:active, .box3:hover{
  animation: yoav 1s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.box4:active, .box4:hover{
  animation: elliot 1s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.box5:active, .box5:hover{
  animation: yoav 1s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.box6:active, .box6:hover{
  animation: yoav 1s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.box7:active, .box7:hover{
  animation: elliot 1s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.box8:active, .box8:hover{
  animation: yoav 1s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.box9:active, .box9:hover{
  animation: elliot 1s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}




@keyframes elliot {
  to{
    background-color: green;
  }
}

@keyframes yoav {
  to{
    background-image: 'yoav.jpg';
  }
}