.box{
    width:100px;
    height: 100px;
    background-color: teal;
    animation: move 5s infinite,
            nudge 5s infinite;
}
/*define the animation*/
@keyframes move {
    0%{
        background-color: teal;
        transform: rotate(0deg) scale(1);
    }
    50%{
        background-color: brown;
        transform: rotate(180deg) scale(5);
    }
    100%{
        background-color: teal;
        transform: rotate(360deg) scale(1);
    }
}
@keyframes nudge {
    0%, 100% {
      transform: translate(0, 0);
    }
    
    50% {
      transform: translate(500px, 0);
    }
  }