.box{
    width: 100px;
    height: 100px;
    background: red;
    animation: move 3s;
    position: relative;
    animation-iteration-count: infinite;
    margin-top: 200px;
}
@keyframes move {
    0% {
        
        background: yellow;
        transform: rotate(0deg) scale(1);
        left: 0vw;
    }
    50% {
        background: red;
        transform: rotate(350deg) scale(2);
        left: 80vw;
        
    }
    100%{
        background: blue ;
        transform: rotate(1080deg) scale(1);
        left: 0vw;
        
        
        
    }
}