.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4,200px);
    gap:3px;

    grid-template-areas: 
    "header header header header"
    "pic pic main1 main2"
    "pic pic main1 main2"
    "bottom bottom main1 main2";    
}
.item{
    background-color: grey;
}

.header{
   grid-area: header;
   background-color: tomato; 
}
.pic{
    grid-area: pic;
    background-color: teal;
}
.main1{
    grid-area: main1;
    background-color: yellow;
}
.main2{
    grid-area: main2;
    background-color: yellowgreen;
}
.bottom{
    grid-area: bottom;
    background-color: violet;
}
.aHeader{
    font-size: 85px;
    font-family: 'Times New Roman', Times, serif;
}

.aPic{
    width:100%;
    height:100%;
    background-image: url('https://www.chick-fil-a.com/-/media/images/cfacom/default-images/chick-fil-a-logo-vector.ashx');
}
.aPic2{
    width:80%;
    height:100%;
    background-image: url('https://jamiegeller.com/.image/c_limit%2Ccs_srgb%2Cq_auto:good%2Cw_647/MTY1NTI0OTA2OTQ4NzY1MjIy/shakshuka.webp');
}
.animate:active, .animate:hover{
    animation: spin 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}
@keyframes spin {
 from{
    transform: scale(1);
 }   
 to{
    transform: scale(1.25)
 }
}

.pHeaderA{
    font-size: 25px;
}
.pTextA{
    font-size: larger;
}
.ptextA2{
    font-size: 5px;
}
.photoA{
    width:400px;
    height:250px;
}
/*useless comment*/
