.adminPageCont{
    position: relative;
    max-width: 100%;
    max-height: 90vh;
    overflow-y: auto;
    background-color: var(--background-light);
    color: var(--Dark);
    margin: 15px;
    display: flex;
    flex-direction: column;
}
.eventMapContainer{
    margin-top: 20%;
    position: relative;
}

.adminButton {
    border: 2px solid black;
    background-color: Var(--Primary);
    display: inline-block;
    margin: 3px;
    width: 95%;
}

.userButtonID {
    background-color: Var(--Light);
    border-radius: 5px;
    border: 1px solid Var(--Dark);
    box-shadow: 1px 1px 2px 2px Var(--Dark-L2);
    font-size: small;
    margin: 4px;
}

.userButtonID:hover {
    background-color: Var(--Grey);
    color: Var(--Light);
}

.cardInfo {
    padding-left: 10px;
}

#searchDropdown {
    background-color: Var(--Light);
    margin-left: 5px;
    border-radius: 5px;
    border: 1px solid Var(--Grey-D2);
    color: Var(--Light-blue);
}
.searchAmenities{
    border: 1px solid Var(--Dark);
    border-collapse: collapse;
}

#search_button_AdminPage {
    background-color: Var(--Light);
    border: 1px solid Var(--Light);
    height: 5vh;
    width: 10vw;
    font-size:large;
    
}

#search_button_AdminPage:hover, #clearFilter:hover, #searchDropdown:hover {
    background-color: Var(--Background-light);
}

#searchFor {
    color: Var(--Light-blue);
}

.search_Container{
    position: fixed;
    top: 20;
    left: 0;
    background-color: var(--Light);
    width: 100%;
    z-index: 9;
    margin-bottom: 5%;
    padding: 1%;
    padding-right: 0%;
    flex: none;
}
#search_Box_AdminPage {
    height: 5vh;
    width: 60vw;
    border: 1px solid Var(--Light)

}
#clearFilter{
    height: 6vh;
    width: 25vw;
    border: 1px solid Var(--Grey);
    background-color: Var(--Light);
    color: Var(--Grey-D2);
}