.container{
background-color: blue;
width: 1000px;
height: 1000px;
margin: 10px;
border: 2px dotted black;
border-radius: 10px;

}
.image{
    margin: 10px;
    border-radius: 10px;
   
    user-select: none;

    padding: 20px;
    width: 200px;
    height: 200px;
}
#img1{
    
    background-repeat: no-repeat;
    
}
#img2{
    
    background-repeat: no-repeat;
}
#img3{
    background-repeat: no-repeat;
    
}
.bigimage{
 
    top: -300px;
    left: -200px;
    width: 400px;
    height: 400px;

}