.container{
background-color: blue;
display: flex;
width: 1000px;
height: 1000px;

}
.image{
    margin: 10px;
    border-radius: 10px;
   
    user-select: none;

    padding: 20px;
    width: 200px;
    height: 200px;
}
#img1{
    
    background-repeat: no-repeat;
    
}
#img2{
    
    background-repeat: no-repeat;
}
#img3{
    background-repeat: no-repeat;
    
}
.bigimage{

    margin: 40px;
    border-radius: 20px;
    user-select: none;
    padding: 20px;
    width: 400px;
    height: 400px;

}