.box{
    width:100px;
    height:100px;
    background:teal;

    /* call the animation */
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: move 5s;
}

/* define the animation */
@keyframes move {
   from {
       background:teal;
   } 
   to{
       background:yellow;
   }
}