#clicker{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: yellow;
    text-align: center;
}

#even{
    width: 100px;
    height: 100px;
    background-color: goldenrod;
}

#odd{
    width: 100px;
    height: 100px;
    background-color: goldenrod;
}

.h{
    text-align: center;
}