.boxes{
    width: 420px;
    height: 420px;
    position: relative;
    left: 30vw;
    top: 5vh;
}

.box{
    width: 200px;
    height: 200px;
    position: relative;
    border: red solid 2px;
    color:violet;
}

.mac{
    background-image: url(./fleetwoodmac.jpeg);
    background-size: 200px 200px;   
}

.queen{
    background-image: url(./queen.jpeg);
    background-size: 200px 200px;
}

.brawl{
    background-image: url(./brawl.jpg);
    background-size: 200px 200px;
}

.aero{
    background-image: url(./aerosmith.jpg);
    background-size: 200px 200px;
}

.friday{
    background-image: url(./friday.jpeg);
    background-size: 200px 200px;
}

.frozen{
    background-image: url(./frozen.jpeg);
    background-size: 200px 200px;
}
.oldtown{
    background-image: url(./oldtown.jpeg);
    background-size: 200px 200px;
}
.bad4u{
    background-image: url(./bad4u.png);
    background-size: 200px 200px;
}


.great:active, .great:hover{
    animation: moveHeart 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.good:active, .good:hover{
    animation: moveSmile 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.wrong:active, .wrong:hover{
    animation: moveWrong 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}
@keyframes moveHeart {
    from{
        background-image: url(./black.png);
    }
    to{
        background-image: url('https://i.guim.co.uk/img/media/bdf23d7b1bbb200cf72ae0c22f051bf926445b20/1_0_5075_3046/master/5075.jpg?width=1300&quality=85&auto=format&fit=max&s=4dc466a613c618911a2641c32dcedbcd');
    }
}

@keyframes moveSmile {
    from{
        background-image: url(./black.png);
    }
    to{
        background-image: url(./smile.jpeg);
    }
}

@keyframes moveWrong {
    from{
        background-image: url(./black.png);
    }
    to{
        background-image: url(./wrong.png);
    }
}