.App {
  text-align: center;
  background-color: whitesmoke;
  margin: 60px auto;
  max-width: 780px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.submitPersonalVideo{
  text-align: center;
  background-color: gray;
}

.newVideoRequest{
  text-align: center;
  background-color: chocolate;
}

.Testbox{
  background-color: slategray;
  width: 250px;
  height: 250px;
  border-radius: 12px;
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  margin-left: 10px;
}