.cont{
  display: grid;
  grid-template-columns: 250px, 250px, 250px;
  grid-template-rows: 300px, 300px, 300px, 300px;
  grid-template-areas: 
    "photo photo photo"
    "caption caption caption"
    "text text text"
    "link link link";
  
  

}

.photo{
  height: 250px;
  width: 300px;
  grid-area: photo;


}