body{
    background-color: rgb(39, 43, 43);
}
.cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 600px;
    justify-content: center;



}
.Cover{
    outline:6px solid purple ;
    margin: 10px;
    background-color: lightblue;
    animation: animate1 30ms linear;
    width: 300px;
    height: 300px;
    color: rgb(255, 51, 0);
    font-size: 20px;
    font-style: bold;

}
.box8{
    width:200px;
    height:200px;
    background-image: url(https://upload.wikimedia.org/wikipedia/en/4/48/Willow_-_Transparent_Soul.png);
    position: relative;
    background-size:200px 200px;
}

.box8:active, .box8:hover{
    animation: move 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;

}
.box1{
    width:200px;
    height:200px;
    background-image: url(https://i.scdn.co/image/ab67616d0000b273a859970d75b34f4f4e87e420);
    position: relative;
    background-size:200px 200px;
}

.box1:active, .box1:hover{
    animation: move1 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;

}

.box2{
    width:200px;
    height:200px;
    background-image: url(https://steamuserimages-a.akamaihd.net/ugc/860611490264740911/8C23083E046EF7C5DF8CF819F652AF90FE101745/?imw=512&&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false);
    position: relative;
    background-size:200px 200px;
}

.box2:active, .box2:hover{
    animation: move2 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;


}
.box3{
    width:200px;
    height:200px;
    background-image: url(https://images.shazam.com/coverart/t563343331_s400.jpg);
    position: relative;
    background-size:200px 200px;
}

.box3:active, .box3:hover{
    animation: move3 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;

}
.box4{
    width:200px;
    height:200px;
    background-image: url(https://1.bp.blogspot.com/--Q8YbhRc8vo/YRPN4YX4rHI/AAAAAAAADZk/IrGTrb8tYD0D5tjJgrm2v2AQCQ2c3lTkgCLcBGAsYHQ/s999/Still-Woozy-If-This-Isn%2527t-Nice%252C-I-Don%2527t-Know-What.jpg);
    position: relative;
    background-size:200px 200px;
}

.box4:active, .box4:hover{
    animation: move4 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;

}
.box5{
    width:200px;
    height:200px;
    background-image: url(https://upload.wikimedia.org/wikipedia/he/d/d5/Truth_Hurts.jpg);
    position: relative;
    background-size:200px 200px;
}

.box5:active, .box5:hover{
    animation: move5 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;

}
.box6{
    width:200px;
    height:200px;
    background-image: url(https://images.genius.com/40eae7e1c20650bbff4737eaffe05772.1000x1000x1.jpg);
    position: relative;
    background-size:200px 200px;
}

.box6:active, .box6:hover{
    animation: move6 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;

}
.box7{
    width:200px;
    height:200px;
    background-image: url(https://is2-ssl.mzstatic.com/image/thumb/Music125/v4/d4/e7/ba/d4e7ba74-db0f-83c9-547b-cf17ee03a138/810043685283.jpg/400x400bb.jpeg);
    position: relative;
    background-size:200px 200px;
}

.box7:active, .box7:hover{
    animation: move7 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;

}
@keyframes move {
    from{
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAA1BMVEWt2OZ2UvuzAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAO8GxYgAAb0jQ/cAAAAASUVORK5CYII=');
    }
    to{
        background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Heart_coraz%C3%B3n.svg/1200px-Heart_coraz%C3%B3n.svg.png');
    }
}

@keyframes move1 {
    from{
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAA1BMVEWt2OZ2UvuzAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAO8GxYgAAb0jQ/cAAAAASUVORK5CYII=');
    }
    to{
        background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/SNice.svg/1200px-SNice.svg.png');
    }
}

@keyframes move2
{
    from{
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAA1BMVEWt2OZ2UvuzAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAO8GxYgAAb0jQ/cAAAAASUVORK5CYII=');
    }
    to{
        background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/SNice.svg/1200px-SNice.svg.png');
    }
}


@keyframes move3
{
    from{
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAA1BMVEWt2OZ2UvuzAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAO8GxYgAAb0jQ/cAAAAASUVORK5CYII=');
    }
    to{
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_5VesxDwAxjr_96mZvLbiDfGTuir8aBOm-899XS7RXypt49NfxwigMNL5LsjDFYfObHs&usqp=CAU');
    }
}

@keyframes move4
{
    from{
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAA1BMVEWt2OZ2UvuzAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAO8GxYgAAb0jQ/cAAAAASUVORK5CYII=');
    }
    to{
        background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/SNice.svg/1200px-SNice.svg.png');
    }
}


@keyframes move5
{
    from{
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAA1BMVEWt2OZ2UvuzAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAO8GxYgAAb0jQ/cAAAAASUVORK5CYII=');
    }
    to{
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_5VesxDwAxjr_96mZvLbiDfGTuir8aBOm-899XS7RXypt49NfxwigMNL5LsjDFYfObHs&usqp=CAU');
    }
}


@keyframes move6
{
    from{
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAA1BMVEWt2OZ2UvuzAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAO8GxYgAAb0jQ/cAAAAASUVORK5CYII=');
    }
    to{
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_5VesxDwAxjr_96mZvLbiDfGTuir8aBOm-899XS7RXypt49NfxwigMNL5LsjDFYfObHs&usqp=CAU');
    }
}


@keyframes move7
{
    from{
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAA1BMVEWt2OZ2UvuzAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAO8GxYgAAb0jQ/cAAAAASUVORK5CYII=');
    }
    to{
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_5VesxDwAxjr_96mZvLbiDfGTuir8aBOm-899XS7RXypt49NfxwigMNL5LsjDFYfObHs&usqp=CAU');
    }
}



