.container{
    display:grid;
    gap: 5px;
    grid-template-columns: 300px 150px;
    grid-template-rows: 250px 100px;
}
.item{
    background-color: lightcyan;
}
.container2{
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: repeat(4, 200px) ;
    gap: 3px;

    grid-template-areas: "header heaser header header";
}
.item2{
    background-color: lightcyan;
}
.header{
    grid-area: header;
    background-color: lightseagreen;
}