.box {
	height: 300px;
	width: 300px;
	position: relative;
	left: 33vw;
}
.brown {
	background-color: rgb(73, 62, 13);
	position: relative;
	left: 15vw;
}
.blue {
	background-color: rgb(15, 15, 179);
	position: relative;
	left: 15vw;
}
.circle {
	position: absolute;
	background-color: red;
	width: 30px;
	height: 30px;
	border-radius: 60px;
	top: 0px;
	left: 0px;
}
.row{
  width: 20px;
  height: 20px;
  background-color: gray;
  position: relative;
  left: 15vw;
}

.scoreboard, .form, .start {
	position: relative;
	left: 15vw;
}
.game {
	display: flex;
	flex-direction: row;
}