.arrow{
    background-color: black;
    width: 10px;
    height: 200px;
    position: relative;
    max-width: 200px;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    margin: 10px auto
}

.container{
    max-width: 200px;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    margin: 10px auto;
}
.pointer1{
    background-color: black;
    width: 10px;
    height: 100px;
    transform: rotate(-45deg);
}
.pointer2{
    background-color: black;
    width: 10px;
    height: 100px;
    transform: rotate( 45deg);
}
.SignUp{
    position: relative;
    max-width: 200px;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    margin: 10px auto;
    width: 200px;
}
.box{
    position: relative;
    max-width: 500px;
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px auto;
    top: 100px;
    width: auto; 
    text-align: center;
}