.card{
    padding: 20px 40px;
    background-image: url('https://images.hindustantimes.com/img/2021/01/15/1600x900/Chris-Evans_1610686588905_1610686593226.jpg');
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.548);
    margin: 5px;
    width: 300px;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
}