.container{
    background-color: gray;
    min-height: 20vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 20px;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
.submitButton{
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(68, 170, 170);
    user-select: none;       
    padding: 15px;
    width: fit-content;
}

.containerTwo{
    background-color: gray;
    min-height: 20vh;
    display: flex;
    align-content: stretch;
    margin: 20px;
    font-size: calc(10px + 2vmin);
    color: white;
}

.sticks{
    position: absolute;
    color: black
}