button{
    background-color: red;
    color: none;
    border: none;
    border-radius: 12;
    padding: 10px;

}
button:active{
    background-color: orange;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}