.container{
    display:grid;
    gap:5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 200px);
}

.item{
    background-color: chocolate;
}

.container2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 200px);
    gap: 5px;
    grid-template-areas: "header header header";
}

.item2{
    background-color: wheat;
}

.header{
    grid-area: header;
    background-color: tomato;
}