

button{
    background-image: url(https://i.pinimg.com/736x/d2/73/b3/d273b383723219e047b87653118d10cc.jpg);
    background-size: 37px;
    color: none;
    border: 2px soluid black;
    border-radius: 50px;
    padding: 10px;


}

button:active{
    background-color: orange;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.orange{
    background-color: orange;
}
.green{
    background-color: green;
}

#box{
    width: 30px;
}
.container
{
    display: grid;
    grid-template-columns: 40px 40px 40px;
    grid-template-rows: 40px 40px 40px;

}


