.container{
  background-color: rgb(0, 110, 255);
  min-height: 20vh;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  margin: 20px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.counter{
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(68, 170, 170);
    user-select: none;       
    padding: 15px;
    width: fit-content;
}

.textContainer{
    margin: 10px;
    padding: 15px;
}