.linkHeader{
    position: absolute;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "Login Title ."
    "EnterQuestion Title ."
    "GuessQuestion Title .";
    
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    padding: 20px 40px;

    background-color: rgb(41, 168, 247);
}

.pageButton{
    text-align: center;
    width: 60px;
    height: 40px;
}

.login{
    grid-area: Login;
}

.enter{
    grid-area: EnterQuestion;
}

.guess{
    grid-area: GuessQuestion;
}