

#MenuButton{
	max-height: 20px;
	z-index: 1;
	margin-top: 8px;
	
}
#homeButton{
	max-height: 20px;
	margin-top: 8px;
	display: inline;

}
#backButton_SB{
	max-height: 20px;
	margin-top: 8px;
	display: inline;

}

#stickyBanner {
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	vertical-align: top;
	bottom: 0px;
	background-color: var(--Light-blue);
	max-width: 500px;
	width: 100%;
	height: 40px;
	z-index: 0;
	border-top: 1px solid Var(--Navy-blue);
}

.ListItemElement:hover {
    background-color: var(--Grey-D1) ;
}
.ListItemElement {
    list-style:none;
}
.menuItem{
	left: 0;
}
ul.menuList{
	padding-inline-start: 2vw;
	margin-block-start: 1vw;
    margin-block-end: 1vw;
	z-index: -1;
}
.menuList_Container{
	position: fixed;
	background-color: var(--Light) ;
	display: flex;
	flex-direction: column;
	bottom: 50px;
	width: 100vw;
    left: 60vw;
	margin-left: 0;
	border: 1.5px solid Var(--Navy-blue);
	animation: move .1s linear 0s 1 alternate forwards;
	z-index: -1;
}
@keyframes move {
	0%{
		z-index: -1;
		transform: translateX(0);
		transform: translateY(200px);
	}
	100%{
		z-index: -1;
		transform: translateX(0);
		transform: translateY(0px);
	}
}
