@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* name change */

/* :root {
	--Dark: #040404;
	--Dark-L1: #0e1317;
	--Dark-L2: #191e22;
	--Grey: #a4b0c1;
	--Grey-D1: #637897;
	--Grey-D2: #586d8e;
	--Light: #f7fbff;
	--Light-D1: #edf2f6;
	--Light-D2: #e4e8ec;
	--Primary: #0077cc;
	--Background-light: #c8e6ff;
	--Navy-blue: #043c6c;
	--Light-blue: #54a4d4;
} */

:root {
	--Light: #ffffff; /*For buttons and nav bar all pages */
	--Light-Page: #f7fbff; /* for all pages backdrop */
	--Blue1: #e7f2ff; /* For background of text boxes, input fields on Article Creation */
	--Blue2: #cfe4ff; /*for tags and buttons when hovered */
	--Blue3: #9ccaff; /* for text in tags on main page base */
	--Blue4: #5faadf; /*for edit buttons, pressed buttons, and hover/pressed on Nav bar popup */
	--Blue5: #1d86d2; /* for hovered, pressed buttons text color*/
	--Blue6: #0077cc; /* for all edit buttons icon colors*/
	--Grey: #938f99; /* for all shadows, border on profile page user icon */
	--Dark: #000000; /* for all unspecified text and icons  */
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	background-color: var(--Blue2);
	max-height: calc(100vh - 50px);
	color: var(--Dark);
}

.container_AppMain {
	position: relative;
	align-items: center;
	justify-content: center;
	display: flex;
	top: 40px;
	overflow-x: clip;
}

.container_App {
	width: 100%;
	/*	min-height: 90vh;*/
	/*max-width: 500px;
	/*overflow-y: scroll;  /* Hide vertical scrollbar */
	/*overflow-x: hidden; /* Hide horizontal scrollbar */
	/*max-height: 100vh;*/
	/*height: 100vh;*/
	margin: 0px;
}

/*
.container_App::-webkit-scrollbar {
	display: none;
}
 Hide scrollbar for IE, Edge and Firefox 
.container_App {
	-ms-overflow-style: none; 
	scrollbar-width: none; 
}*/

/* tag {
	margin-block: auto;
    border: inset 3px;
    background: #4c97ec;
    vertical-align: middle;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 1.5rem;
    padding: 4px 4px;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    line-height: 12px;
    color: #FFFFFF;
    border-radius: 1rem;
    font-size: 100% !important;
    display: inline-block;
    white-space: nowrap;
} */

.tag {
	background: var(--Blue1);
	border: 1px solid var(--Grey);
	box-sizing: border-box;
	border-radius: 12px;
	color: var(--Blue6);
	padding: 1px 8px;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	margin: 1.5px;
}

html {
	--theme-scrollbar-thumb: #ccc;
	--theme-scrollbar-track: #f2f2f2;

	--theme-scrollbar-thumb-hover: #bbb;
}

::-webkit-scrollbar {
	height: 16px;
	width: 16px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--theme-scrollbar-thumb);
	border: 4px solid transparent;
	border-radius: 8px;
	min-height: 40px;
	background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--theme-scrollbar-thumb-hover);
	border: 4px solid transparent;
}

::-webkit-scrollbar-track {
	background-color: var(--theme-scrollbar-track);
	border: 4px solid transparent;
	border-radius: 8px;
	margin-bottom: 8px;
	background-clip: padding-box;
}

.btn {
	border-radius: 5px;
	background-color: #ffffff;
	padding: 10px 20px;
	text-align: center;
	color: black;
	user-select: none;
	cursor: pointer;
	font-family: Roboto;
}
.btns {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

.hide {
	display: none;
}

.footer {
	height: 100px;
}
