.container{
    background-color: gray;
    align-items: center;
    align-content: center;

    min-height: 20px;
    margin: 20px;
    padding: 10px;

    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
}
  
.imageFrame{
    padding: 25px;
    border-radius: 10px;
    max-width: 100px;
    max-height: 100px;

    background-color: rgb(68, 170, 170);
    user-select: none;
}

.imageButton{
    padding: 15px;
    border-radius: 5px;
    max-width: 100px;
    max-height: 100px;

    width: fit-content;
    height: fit-content;

    background-color: rgb(68, 170, 170);
    user-select: none;       
}