
/* Can be used to position multiple buttons in a single row
.buttonContainer{
    display: flex;
    flex-flow: row nowrap; //Direction and wrap
    justify-content: safe space-between;
    align-items: center;
    align-content: center;

}*/

/*
.buttonElement{
    order: 1; //Determines order of item display
    flex-grow: 0; //Divides the total space in flex
    flex-shrink: 0; //Reduces potential max size
    flex-basis: auto;//Default element size
}
*/

button{
    background-color: black;
    color: white;
    text-align: center;
    min-width: 60px;
    min-height: 30px;
    /* font-size: 13.3px; */
    /* font-size: 3.5vw; */
}

p {
    /* font-size: 20px; */
    /* font-size: 3.5vw; */
}

h1{
    /* font-size: 2em; */
    /* font-size: 8vw; */
}

h3{
    /* font-size: 1.17em; */
    /* font-size: 5vw; */
}

h4{
    /* font-size: 1.33em; */
    /* font-size: 4vw; */
}

.mainContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

/*Article Image Section starts here*/
.articleImage{
    width: 100%;
    height: auto;

    display: flex;
    flex-flow: row wrap;
    
    margin-top: 20px;
    
    background-color: var(--Background-light);
    background-image: url(https://images.app.goo.gl/zwAQKKfULvPaYiAA9);
    
    justify-content:space-between;
    align-items: center;
    align-content: space-around;

}

.articleImageButtons{
    position: relative;
    width: 100%;
    height: auto;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 250px;

    display: flex;
    flex-flow: row nowrap;
    
    align-items: center;
    justify-content:space-around;
    align-content:space-evenly;
}
.backButton{
    /* float: left;
    margin-left: 20px;
    margin-top: 5px; */
    width: 80px;
    height: 50px;
    /* font-size: 20px; */
}
.addEventButton{
    /* float: right;
    margin-right: 20px; */
    width: 80px;
    height: 60px;
    /* font-size: 20px; */
}
.eventContact{
    /* float: center; */
    width: 100px;
    height: 60px;
    /* font-size: 20px; */
}
/*Article Image Section ends here*/


/*Article Event Data starts here*/
.eventData{
    background-color: var(--Light-D2);

    width: 100%;
    display: inline-block;

    text-align: center;
    overflow-wrap: break-word;
}

/*
.eventName{
    link to autoID.eventName
}
*/

.secondaryInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    margin-top: -20px;
    margin-bottom: -20px;
    /* font-size: 20px; */
}

.eventTimeContainer{
    width: 40%;
    padding: 10px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: stretch;
}
.eventDate{
    flex: 0 1 50%;
}
.eventStartTime{
    flex: 0 1 25%;
}
.eventEndTime{
    flex: 0 1 25%;
}

.eventLocationContainer{
    width: 40%;
    padding: 10px;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: stretch;
}
.eventStreet{
    flex: 0 1 33%;
}
.eventHouse{
    flex: 0 1 33%;
}
.eventCity{
    flex: 0 1 33%;
}

.eventDetails{
    padding: 5px 15px;
    border: 2px solid black;
}

/*Article Event Data ends here*/


/*Article User Prompt starts here*/
.userPromptContainer{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--Background-light);
}

/*Article User Prompt ends here*/



.eventTags{
    padding-top: 20px;
    padding-bottom: 40px;
    width: 100%;
    row-gap: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
    background-color: var(--Light-D2);
}

.tagTitle{
    margin: 10px;
}

.tagBox{
    border: 2px solid black;
    padding: 5px 15px;
    margin: 10px;
    /* font-size: 15px; */
    font-weight: bold;
    width: fit-content;
}

.contactUsContainer{
    display: inline-block;
    width: 100%;
    height: 180px;
    /* margin-top: -240px;
    margin-bottom: 70px; */
    margin-bottom: 30px;
    
}
.contactUsContent{
    background-color: var(--Light-D2);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

