
.container2{
    color:yellowgreen;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 200px);
    gap: 3px;

    grid-template-areas: 
    "header header header header"
    "main main . side"
    ". . . side";
}

.item2{
    background-color: sienna;
}

.container{
    display: grid;
    gap: 5px;
    grid-template-columns: auto 20px auto 40px;
    grid-template-rows: 400px 200px 300px;
    color: teal;

   
}

.item{
    background-color: sienna;
}

.header{
    grid-area: header;
    background-color: royalblue;
}

.main{
    grid-area: main;
    background-color: crimson;
}

.side{
    grid-area: side;
    background-color: darkmagenta;
}