/* #myInput {
   
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
  
  #myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px; Prevent double borders
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
  } */
  
  /* #myUL li a:hover:not(.header) {
    background-color: #eee;
  } */

.container {
  display: grid;
  grid-template-columns: 500px;
  grid-template-rows: auto;
  box-sizing: border-box;
  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.filterData {
  max-height: 100px;
}

.searchBar {
  max-height: 100px;
}