body{
    margin: 0px;
}
.banner{
    position: fixed;
    background-color: salmon;
    color: snow;
    text-align: center;
    padding: 8px;
    width: 100%;
    top: 0px;
}
.menu{
    text-align: left;
    position: absolute;
}
.cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px auto;
    margin-top: 40px;
    max-width: 650px;
    justify-content: center;

}
.cards{
    width: 200px;
    height: 150px;
    border-radius: 12px;
    box-shadow: 3px 3px 9px black;
    margin: 5px;    
}
.words{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    margin: 3px;
    margin-top: 0px;
    
}
.pic{
    width: 194px;
    height: 70px;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 6px;
}