.box{
    width: 100px;
    height: 100px;
    background-color: teal;

    animation: move 5s linear 2s infinite;
    position: relative;
}
@keyframes move {
    from{
        background: teal;
        transform: rotate(0deg);
        left: 0vw;
    }
    to{
        background: yellow;
        transform: rotate(360deg);
        left: 100vw;
    }
}