.movie{
    padding: 20px 40px;
    background-color: goldenrod;
    background-size: contain;
    background-size: 20px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px black;
    margin: 5px;
}