.nametag{
    background-color: var(--color3);
    height: auto;
    min-width: 130px;
    width: auto;
    border-radius: 20px;
    background-size: contain;
    margin: 10px 20px;
    padding: 20px 5px;
    text-align: center;
    color: var(--textcolor);
}
.scoreboard{
    background-color: var(--mainbackgroundcolor);
    height: auto;
    width: auto;
    display: flex;
    flex-wrap: wrap;
}
.img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid var(--color3hover);
}

.info{
    
}