.News{
    font-size: 50px;
}

.container{
    display: grid;
    gap: 5px;
    margin-top: 25px;
    grid-template-columns: auto auto auto;
    grid-template-rows: 400px 200px;
}

.item1{
    background-image: url('https://1.bp.blogspot.com/-Loq6XNQxBBw/YJ_X2uTSMyI/AAAAAAAAHDc/7wc92OW_L8ELJCYd10pELvyzv7hpB09LwCLcBGAsYHQ/s680/Olivia%2BRodrigo%2B%25E2%2580%2593%2Bgood%2B4%2Bu%2BLyrics.webp');
    background-size: 490px 390px;
}

.item2{
    background-image: url('https://i.insider.com/5f778d302400440019129c6a?width=700');
    background-size: 495px 400px;
}

.item3{

}

.news1{
    margin-top: -200px;
    font-size: 23px;
    font-weight: bold;
}

.news2{
    margin-top: -50px;
    left: 500px;
    font-size: 23px;
    font-weight: bold;
}

.news1undertext{
    margin-top: 10px;
    font-size: 15px;
}