/* Popup style */

  
  
  .popup-box {
    position: fixed;
    width: 70%;
    height: 100px;
    top: 0;
    margin-left: 15%;
  }
  
  .Edit-close-icon {
    content: 'x';
    cursor: pointer;
    position: flex;
    margin-left: 95%;
    margin-top: 0;
    font-size: 30px;
  }
  .profileEditor{
      height: fit-content;
      width: fit-content;
  }
  .editText{
      margin-top: 0;
  }
  .EditPopUpbox {
    position: relative;
    margin: 0 auto;
    margin-top: calc(100vh - 85vh - 20px);
    background:Var(--Light);
    border-radius: 4px;
    padding: 20px;
    height: fit-content;
    width: fit-content;
  }