.page{
  background-color: var(--mainBkgColor);
}
#namebox{
    width:100px;
    height:100px;
    color: var(--color2);
  }

  #picture2{
    height: 100px;
    width: 100px;
    border-radius: 100%;
  }

  .txtinput{
    color: var(--color2);
    height: 30px;
    width: 310px;
    border-width: 0px;
    border-bottom-width: 2px;
    border-color: var(--color2);
    margin: 10px;
    background: transparent;
  }

  .submit{
    color: #ffffff;
    height: 60px;
    width: 310px;
    background-color: var(--color3);
    border: none;
    margin: 10px;
    border-radius: 10pt;
  }
  
  .submit#hover{
    background-color: var(--color3hover);
  }

  .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 100%;
    width: 100%;
    background-color: var(--mainbackgroundcolor);
  }