/* LAPTOP CSS */
@media only screen and (min-width: 1384px) {
	.button {
		display: inline-flex;
		align-items: center;
		padding: 6px 16px 6px 8px;
		width: fit-content;

		margin-left: auto;
		margin-right: auto;

		background: #ffffff;
		/* M3/Elevation Light/1 */

		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
		border-radius: 8px;
	}
	.buttonOrgContact {
		display: inline-flex;
		align-items: center;
		padding: 6px 16px 6px 8px;
		width: fit-content;

		margin-left: auto;
		margin-right: auto;

		background: #ffffff;
		/* M3/Elevation Light/1 */

		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
		border-radius: 8px;
		margin-bottom: 15px;
	}
	.position {
		margin-left: auto;
		margin-right: auto;
		display: flex;
		justify-content: center;
		margin-bottom: 90px;
	}
	.position2 {
		margin-left: auto;
		margin-right: auto;
		width: 10%;
	}

	.position3 {
		margin-left: auto;
		margin-right: auto;
		display: flex;
		justify-content: center;
	}

	.email {
		color: #0077cc;
		text-align: right;
		font-size: 25px;
	}
	.head {
		text-align: center;
		font-size: 30px;
		height: 50px;
		padding-top: 10px;
		margin-top: 10px;
		width: 100%;
		height: 6%;
	}
	.sp {
		margin-top: 1.5%;
	}
	.mar {
		margin-right: 3%;
	}

	.back-color {
		background-color: #f7fbff;
		margin-left: 3%;
		margin-right: 3%;
		margin-top: 0%;
		height: fit-content;
	}
	.line {
		border-bottom: 2px black solid;
		margin-top: 0%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1.5%;
		width: 70%;
	}

	.apply {
		text-align: center;
		font-size: 20px;
	}
	.apbutton {
		font-size: 20px;
		background-color: #54a4d4;
	}
	.mission {
		text-align: center;
		border: none;
		padding: 20px;
		border-radius: 15px 15px 15px 15px;
		margin: auto;
		width: 70%;
		background-color: #e7f2ff;
	}
	.mishead {
		font-size: 25px;
	}

	#www {
		max-height: 20px;
		max-width: 20px;
		margin-right: 6px;
	}

	#phone {
		margin-right: -3px;
	}

	#email {
		margin-right: 4px;
	}

	#home {
		margin-right: 4px;
	}

	#form {
		position: relative;
		max-height: 20px;
		max-width: 20px;
		margin-right: 7px;
		top: 3px;
	}

	.buttonHolder {
		display: grid;
		grid-template-columns: repeat(1, 1, 3, fr);
		gap: 10px;
		grid-auto-rows: repeat(3, 1);
		margin-top: 10px;
		width: 97%;
	}

	.buttonHolder2 {
		display: grid;
		grid-template-columns: 1fr 1fr 5fr;
		grid-template-rows: 1fr 1fr 1fr;
		gap: 0px 0px;
		grid-template-areas:
			'. . .'
			'. . .'
			'. . .';
		justify-items: center;
	}
}
/* PHONE CSS */
@media only screen and (max-width: 1384px) {
	.button {
		display: inline-flex;
		align-items: center;
		padding: 6px 16px 6px 8px;
		width: fit-content;

		margin-left: auto;
		margin-right: auto;

		background: #ffffff;
		/* M3/Elevation Light/1 */

		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
		border-radius: 8px;
	}
	.buttonOrgContact {
		display: inline-flex;
		align-items: center;
		padding: 6px 16px 6px 8px;
		width: fit-content;

		margin-left: auto;
		margin-right: auto;

		background: #ffffff;
		/* M3/Elevation Light/1 */

		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
		border-radius: 8px;
		margin-bottom: 15px;
	}

	.position {
		margin-left: auto;
		margin-right: auto;
		display: flex;
		justify-content: center;
		margin-bottom: 90px;
	}
	.position2 {
		margin-left: auto;
		margin-right: auto;
		width: 10%;
	}

	.position3 {
		margin-left: auto;
		margin-right: auto;
		display: flex;
		justify-content: center;
	}

	.email {
		color: #0077cc;
		text-align: right;
		font-size: 25px;
	}
	.head {
		text-align: center;
		font-size: 30px;
		height: 50px;
		padding-top: 10px;
		margin-top: 10px;
	}
	.sp {
		margin-top: 1.5%;
	}
	.mar {
		margin-right: 3%;
	}

	.back-color {
		background-color: #f7fbff;
		margin-left: 3%;
		margin-right: 3%;
		margin-top: 0%;
		height: 110%;
		margin-bottom: 5%;
	}
	.line {
		border-bottom: 2px black solid;
		margin-top: 0%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1.5%;
		width: 70%;
	}

	.apply {
		text-align: center;
		font-size: 20px;
	}
	.apbutton {
		font-size: 20px;
		background-color: #54a4d4;
	}
	.mission {
		text-align: center;
		border: none;
		padding: 20px;
		border-radius: 15px 15px 15px 15px;
		margin: auto;
		width: 70%;
		background-color: #e7f2ff;
	}
	.mishead {
		font-size: 25px;
	}

	#www {
		max-height: 20px;
		max-width: 20px;
		margin-right: 6px;
	}

	#phone {
		margin-right: -3px;
	}

	#email {
		margin-right: 4px;
	}

	#home {
		margin-right: 4px;
	}

	#form {
		position: relative;
		max-height: 20px;
		max-width: 20px;
		margin-right: 7px;
		top: 3px;
	}

	.buttonHolder {
		display: grid;
		grid-template-columns: repeat(1, 1, 3, fr);
		gap: 10px;
		grid-auto-rows: repeat(3, 1);
		margin-top: 10px;
	}

	.buttonHolder2 {
		display: grid;
		grid-template-columns: 1fr 1fr 5fr;
		grid-template-rows: 1fr 1fr 1fr;
		gap: 0px 0px;
		grid-template-areas:
			'. . .'
			'. . .'
			'. . .';
		justify-items: center;
	}
}
