.EventPage {
	display: flex;
	justify-content: center;
}
#mainContainer_Event {
	max-width: calc(100% - 34px);
	background-color: var(--Light-Page);
	display: flex;
	flex-direction: column;
	height: max-content;
	align-items: center;
	padding: 0px 0px 10% 0px;
}

#coverImage_Event {
	max-height: 40vh;
	max-width: 100vw;
	width: 100vw;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	object-fit: cover;
}
.eventData_Event {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--Blue1);
	text-align: center;
	padding: 10px 4px 10px 4px;
	border-radius: 0px 0px 20px 20px;
	margin: 0px 10px 0px 10px;
}
#title_Event {
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 36px;
}
#hostName_Event {
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 20px;
	padding: 4px;
	border-bottom: 3px solid var(--Dark);
	border-radius: 3px;
	width: 80%;
}
.eventTimesCont {
	margin: 9px 0px 9px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 6px 6px 6px 6px;
	background: var(--Light);
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
	border-radius: 8px;
	max-width: 80%;
}
#startTimeField {
	display: inline-block;
	position: relative;
	bottom: 7px;
}
#endTimeField {
	display: inline-block;
	position: relative;
	bottom: 7px;
}
#clock {
	margin-right: 10px;
	display: inline-block;
}
#eventDescription_Event {
	max-width: 100%;
	font-family: Roboto;
	font-style: normal;
	font-size: 15px;
	line-height: 15px;
	margin: 5px;
}
#eventWebsite_Event {
	color: var(--Dark);
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	padding: 5px;
	border-bottom: 3px solid var(--Dark);
	border-radius: 3px;
	width: 80%;
}
.inlineBlock {
	display: inline-block;
	margin-left: 4px;
}
#eventAddress {
	margin: 9px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 15px;
}
.tag_Event {
	background: var(--Blue2);
	border: 1px solid var(--Grey);
	box-sizing: border-box;
	border-radius: 10px;
	color: var(--Blue4);
	padding: 3px;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 28px;
	margin: 3px;
	width: min-content;
}
.eventTags_Event {
	display: flex;
	flex-direction: row;
	justify-content: center;
	max-width: 50%;
	padding: 5px;
	border-top: 3px solid var(--Dark);
	border-bottom: 3px solid var(--Dark);
	border-radius: 3px;
	width: 80%;
}
.addToCalAndMaxCap_Cont {
	margin: 10px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
#maxCap {
	margin: 7px;
}
.dataLabel {
	position: relative;
	bottom: 7px;
}
a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
	color: var(--Dark);
	text-decoration: none;
}
#addeventatc1 {
	position: relative;
	z-index: 0 !important;
}
