.profileEditor{
    padding-left: 2.4em;
    width: 100%;
}
#profilePic{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-image: none;
    background-color: blue;
    margin-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
}
#prefButton{
    display: inline;
    justify-content: center;
    margin-left: 20%;
}
#submitChanges{
    display: inline;
    justify-content: center;
    margin-left: 20%;
}
.info{
    font-weight: 500;
}
.back-1{
    margin-top: 20px;
    background-color:#F7FBFF ;
    align-items: center;
    text-align: center;
    width: 100%
}
.back-2{
    background-color: #F7FBFF;
    text-align: center;
    margin-bottom: 0%;
    padding: 10px;
}
.back-3{
    background: #E7F2FF;
    border-radius: 100px;
    text-align: center;
    left: center;
    margin-top: 0%;
    padding: 10px;
    border-top: 1px black solid;
}
.EditProfBtn1{
    margin-top: 10px;
    margin-left: 10px;
    background-color: #9CCAFF;
    color: black;
    border: none;
    border-radius: 15px 15px 15px 15px;
    height: 29pt;
    width: 67pt;
    float: left;
    position: relative;
    float: center;
    left: 51vw;
    top: 20vh;
    

}
.EditProfBtn2{
    margin-top: 10px;
    margin-left: 10px;
    background-color: #9CCAFF;
    color: black;
    border: none;
    border-radius: 15px 15px 15px 15px;
    height: 29pt;
    width: 67pt;
    float: left;
    position: relative;
    float: center;
    left: 60vw;
    top: 20vh;
    

}
.foot{
    height: 13vh;
}
.center{
    margin-right: 80pt;
    display: block;
    background: #E7F2FF;
    border-radius: inherit;
    width: 80%;

}
.center2{
    text-align: center;
    
}
.center3{
   margin-right: auto;
   margin-left: auto;
   display: block;
   margin-top:10px;
   border-radius: 100px;
   border: black;
}

.finalBio{
    background: #E7F2FF;
    border-radius: 1000px;;
    text-align: center;
}
