.profileEditor{
    padding-left: 2.4em;
    width: 100%;
}
#profilePic{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-image: none;
    background-color: blue;
    margin-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
}
.nonresize{
    resize: none;
}
#prefButton{
    display: inline;
    justify-content: center;
    margin-left: 20%;
}
#submitChanges{
    display: inline;
    justify-content: center;
    margin-left: 20%;
}
.info{
    font-weight: 500;
}
.back-1{
    margin-top: 20px;
    background-color: #c8e6ff ;
    align-items: center;
    text-align: center;
}
.back-2{
    border-top: 1px black solid;
    background-color: #c8e6ff;
    text-align: center;
    margin-bottom: 0%;
    padding: 10px;
}
.back-3{
    background-color: #c8e6ff;
    text-align: center;
    margin-top: 0%;
    padding: 10px;
    border-top: 1px black solid;
}

.EditProfBtn{
    margin-top: 10px;
    margin-left: 10px;
    background-color: #9CCAFF;
    color: black;
    border: none;
    border-radius: 15px 15px 15px 15px;
    height: 29pt;
    width: 67pt;
    float: left;
}
.foot{
    height: 13vh;
}
.center{
    margin-right: 80pt;
    display: block;

}
.center2{
    text-align: center;

}
.center3{
   margin-right: auto;
   margin-left: auto;
   display: block;
   margin-top:10px
}
