.box{
  width: 100px;
  height: 100px;
}

.blue{
  background: blue;
}

.brown{
  background: brown;
}

.circle{
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  position: absolute;
  top: 0px;
  left: 20px;
  transition: all;
}

.img{
  border-radius:20px;
}