.box{
    width: 100px;
    height: 100px;
    background: teal;

    /* call the animation */
    /*animation : name duration timing-function delay items*/
    animation: move 5s;
}


/* define the animation */
@keyframes move {
    from {
        background: teal;
        transform: rotate(0deg) scale(1);
        position: absolute;
        left: 0px;
    }
    to {
        background: yellow;
        transform: rotate(360deg) scale(2);
        left: 10000px;
        
    }
}