.hangman{
    margin: 10px;
    border-radius: 5px;
    background-color: goldenrod;
    user-select: none;
}

.box{
    width: 100px;
    height: 100px;
}

.wrapper{
    display: flex;
    
}

.structureTop{
    width: 100px;
    height: 5px;
    background-color: black;
}

