.container{
    display: grid;
    gap: 15px;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 400px;
    justify-content: center;
    
}
.item{
    background-color: white;
}

.photo{
    width: 400px;
    height: 275px;
}
.text{
    font-size: 30px;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
.container2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 200px);
    gap: 3px;
    grid-template-areas:
    "header header header header";

}
.item2{
    background-color: aqua;
}
.header{
    grid-area: header;
    background-color: violet;
}