.container{
    display: grid;
    gap: 15px;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 400px;
    justify-content: center;
    
}
.item{
    background-color: wheat;
}
.photo{
    width: 400px;
    height: 275px;
}
.text{
    font-size: 30px;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}