body{
    margin: 0px;
}
.header{
    position: fixed;
    width: 100vw;
    background-color: salmon;
    padding: 6px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}





@keyframes moveleftwards
{
    from {
        background: teal;
        transform: rotate(0deg) scale(1);
        position: absolute;
        left: 0px;
    }
    to {
        background: yellow;
        transform: rotate(360deg) scale(2);
        left: 10000px;
        
    }
}
@keyframes moverightwards
{

}