.upface {
    width:500px;
    height:500px;
    background:#ff2600;
    
    
}

div:hover {
    animation:move 5s linear 1s;
}

@keyframes move {
    from{
        transform: rotate3d(90, 0, 0, 0deg)
         
    }
    to{
        transform: rotate3d(45, 400, 465, 5deg)
        
    }