.container{
  display: grid;
  grid-template-columns: [first] 33% [line2] 33% [line3] 33%;
  grid-template-rows: 450px 450px 450px;
  background-color: gray;
  color: white;
  font-size: 10px;
  width: 100%;

}

.image1{
  height: 100%;
  width: 100%;
  background-size:cover;
  background-repeat: no-repeat;
  background-image: url("./Bakugan.jpg");
}
.image2{
  height: 100%;
  width: 100%;
  background-size:cover;
  background-repeat: no-repeat;
  background-image: url("./Lego Thanos.jpg");
}
.image3{
  height: 100%;
  width: 100%;
  background-size:cover;
  background-repeat: no-repeat;
  background-image: url("./Lego\ Vader.png");
}

.image4{
  height: 100%;
  width: 100%;
  background-size:cover;
  background-repeat: no-repeat;
  background-image: url("./pokemon\ cards.jpg");
}

.image5{
  height: 100%;
  width: 100%;
  background-size:cover;
  background-repeat: no-repeat;
  background-image: url("./wii.jpg");
}

.image6{
  height: 100%;
  width: 100%;
  background-size:cover;
  background-repeat: no-repeat;
  background-image: url("./Maverick.jpg");
}

.image7{
  height: 100%;
  width: 100%;
  background-size:cover;
  background-repeat: no-repeat;
  background-image: url("./woody.jpg");
}

.image8{
  height: 100%;
  width: 100%;
  background-size:cover;
  background-repeat: no-repeat;
  background-image: url("./Nerf Sword.jpg");
}

.image9{
  height: 100%;
  width: 100%;
  background-size:cover;
  background-repeat: no-repeat;
  background-image: url("./Blade\ Blade.jpg");
  }

.image1:hover, .image4:hover, .image5:hover, .image7:hover, .image9:hover{
  height: 100%;
  width: 100%;
  background-size:cover;
  background-repeat: no-repeat;
  background-image: url("./sam.jpg");
}

.image2:hover, .image3:hover, .image6:hover, .image8:hover{
  background-image: url("./Michael.jpg");
}
