.container{
  display: grid;
  grid-template-columns: [first] 33% [line2] 33% [line3] 33%;
  grid-template-rows: 450px 450px 450px;
  background-color: gray;
  color: white;
  font-size: 10px;
  width: 100%;

}

.image1{
  background-image: url("./Bakugan.jpg");
}