img{
    width: 300px;
    height: 300px;
}
.Title{
    font-family: fantasy;
}
.TextBold{
    color: dimgrey;
    font-family: sans-serif;
}
.TextNormal{
    color: dimgrey;
    font-family:monospace;
}
.parent{
    display:grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-areas: "item1 item2 item3";
    gap: 30px;
}
.item1{
    grid-area: item1;
}
.item2{
    grid-area: item2;
}
.item3{
    grid-area: item3;
}