.container{
    display: grid;
    justify-content: center;
    gap: 10px;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 250px 170px 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img{
    width: 400px;
    height: 250px;
}
.item{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 140%;
}
.subtitle{
    font-size: 80%;
}
.red{
    color:red;
    font-weight: 1000;
}