.container{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4, 200px);
   gap:5px;
   grid-template-areas: 
   "header header header header"
   "main main . side"
   "main main side side";
}
.item{
    background-color: red;
    
}
.header{
    grid-area: header;
    background-color: green;
}