.main{
  gap: 10px;
  vertical-align: middle;
  color: rgb(21, 75, 21);
  background-color: rgb(133, 79, 8);
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: 
    "title title title title title"
    "author . publisher . date"
    ". . . . ."
    "para1 para1 . image image"
    "para1 para1 . image image"
    "para1 para1 . imgCap imgCap"
    "para2 para2 para2 para2 para2"
    "para2 para2 para2 para2 para2";
}

header{
  font-size: 60px;
}

.blogTitle{
  grid-area: "title";
  background-color: cadetblue;
  padding: 10px 10px;
  /* width: 100vw; */
  height: 25vh;
}

.author{
  grid-area: "author";
  width: min-content;
  height: 60px;
  font-size: 12px;
  vertical-align: middle;
  padding: 10px 10px;
  background-color: cadetblue;
  color: rgb(21, 75, 21);
}
.publisher{
  grid-area: "publisher";
  width: min-content;
  height: 60px;
  font-size: 12px;
  vertical-align: middle;
  padding: 10px 10px;
  background-color: cadetblue;
  color: rgb(21, 75, 21);
}
.date{
  grid-area: "date";
  width: min-content;
  height: 45px;
  font-size: 12px;
  vertical-align: middle;
  padding: 10px 10px;
  background-color: cadetblue;
  color: rgb(21, 75, 21);
}

.photoFrame{
  align-items: center;
  grid-area: "image";
  background-color: cadetblue;
  font-size: 25px;
}

.photoDescription{
  grid-area: "imgCap";
  background-color: none;
  color: rgb(235, 235, 44);  
  width: min-content;
  height: 65px;
  font-size: 25px;
}

.review{
  background-color: none;
  color: rgb(235, 235, 44);  
  font-size: 35px;
}

.para1{
  grid-area: "para1";
}

.para2{
  grid-area: "para2";
}