/* .box{
  width: 100px;
  height: 100px;
}

.blue{
  background: blue;
}

.brown{
  background-color: rgb(226, 133, 45);
}

.circle{
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  position: absolute;
  top:0px;
  left:0px;
  transition: all 100ms;
} */
.sea{
  width: 400px;
  height: 400px;
  background-color: blue;
  background-image:url(https://ak.picdn.net/shutterstock/videos/26857564/thumb/1.jpg);
  background-size: contain;
  position: absolute;
  top: 39%;
  left: 43.5%;
}
.land{
  width: 200px;
  height: 200px;
  background-image:url(https://opengameart.org/sites/default/files/isle_3.png);
  background-size:contain;
  position: absolute;
  top: 50%;
  left: 50%;
}
