.container{
    display: grid;
    gap: 5px;
    grid-template-columns: 525px 400px 470px;
    grid-template-rows: 400px 400px 400px;
}

.item{
    background-color: lightseagreen;
    border: 2px solid black;
}

.container2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 200px);
    gap: 3px;
    grid-template-areas: 
    "header header header header"
    "main . . side"
    "main . . side"
    ". . . side";
}

.item2{
    background-color: tomato;
}

.header{
    grid-area: header;
    background-color: green;
}

.main{
    grid-area: main;
    background-color: purple;
}

.side{
    grid-area: side;
    background-color: yellow;
}

h2{
    color: black;
    border-left: 2px solid red;
}

.a{
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.b{
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.c{
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}