.body{
    margin: 0px;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: darkslategrey;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active){
    background-color: lightsteelblue;
}

.active {
    color: black;
    background-color: green;
  }
