.body{
    margin: 0px;
}

/* Grid */
.container{
    position: absolute;
    left: 5px;
    top: 50px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 500px 500px 500px;
}



/* boxes and menu*/

.box{
    margin: 5px;
    border-radius: 5px;
    box-shadow: 3px 3px 9px rgba(0, 0, 0.5, 0.5);
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: rgba(240, 239, 239);
    z-index: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

li{
    float: left;
}

li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active){
    background-color: lightsteelblue;
}

.active {
    color: black;
    background-color: lightgrey;
  }
