.box{
    width:100px;
    height:100px;
    background:teal;
    animation:move 5s linear 2s infinite alternate ;
    position:absolute;
}


@keyframes move {
    from {
        background:teal;
        left:0px;
        transform: rotateX(0deg) rotatey(0deg) rotatez(360deg) scale(1);
    }
    to {
        background: yellow;
        left:500px;
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg) scale(0.1)
    }
}