.container{
display: grid;
gap: 5px;
grid-template-columns: auto 20px auto 40px;
grid-template-rows: 400px 200px 300px;
}

.item{
    background-color: white;
}
.container2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 200px);
    gap: 3px;
    grid-template-areas: 
    "header header header";
    
}

.item2{
    background-color: tomato;
}

.header{
    grid-area: header;
    background-color: teal;
}