.hangman{
	margin-top: 15px;
}


.wrapper {
	display: flex;
	flex-direction: row;
	font-size: 100px;
}

.box {
	height: 100px;
	width: 100px;
	justify-content: center;
}

.hangCont{
	position: fixed;
	left: 50vw;
	top: 10vw;
}

#leg1{
	position: fixed;
	right: 233px;
	top: 645px;
	transform: rotate(30deg);
	

}
#leg2{
	position: fixed;
	right: 100px;
	top: 645px;
	transform: rotate(-30deg);
	

}
#arm1{
	position: fixed;
	right: 230px;
	bottom: 200px;
	transform: rotate(30deg);
	
}
#arm2{
	position: fixed;
	right: 100px;
	bottom: 200px;
	transform: rotate(-30deg);
	
}
#body{
	position: fixed;
	right: 166px;
	bottom: 245px;

}
#head{
	position: fixed;
    right: 96px;
    bottom: 440px;
}
