.container{
    margin: 10px;
    max-width: 180px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.box{
    background-color: tan;
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: larger;
    margin-top: 10px;
    margin-right: 10px;
}
.box:hover{
    background-color: tomato;
}
.box:active{
    background-color: thistle;
}