
.userInterfaceContainer{
    background-color: ivory;
    top: 0px;
    padding: 5px;

}
.dropDown{
    border: 10px black;
    border-radius: 12px;
    text-align: center;
}
.searchBar{
    position: relative;
    left: 30%;
}
.eventMapContainer{
    text-align: center;
    background-color: var(--Background-light);
}
.userInterfaceContainer{
    background-color: var(--Background-light);
    font-family:Arial;
    font-weight:bolder;
}
.filterEvents{
    font-weight: bolder;
    text-align: center;
    margin-bottom: -120px;
}
#eventFilterType{
    border-radius: 5px;
    background-color: var(--Grey);
    height: 25px;
    font-weight: bolder;
}
.nametag{
    margin-top: 6px;
    background-color: var(--Light);
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.274);
    padding: 5px;
    margin-bottom: 50px;
}