.article
{
    font-size: 20px;
    color: darkred;
    font-family:  Arial, Helvetica, sans-serif;
    border-radius: 5px;
    border: red;
    background-color: royalblue;
    border-width: 5px;
    height: 60px;
    width: 40px;
    padding: 10px;
    top: 90px;
    left: 90px;
    margin: 10px 10px;
    text-decoration: none;
    

    /*
  needs
    X font choices
    X radius
    X border
    X height 
    X width
    X position (left and top)
    X background color
  
  
  */
}

.userInterfaceContainer{
    background-color: ivory;
    top: 0px;
    padding: 5px;

}

.searchBar
{
        color: darkblue;

    /*
    needs
    X font choices
    X radius
    border
    height 
    width
    position (left and top)
    X background color
    */

}
.button{
    width: 500px;
    height: 500px;
    line-height: 500px;
    border-radius: 25%;
    font-size: 50px;
    text-align: center;
    color:orange;
    background: peru;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;

    /*
    needs
        font choices
        border
        
    */
}
.circle{
    position: absolute;
    display: flex;
    border-radius: 45px;
    background-color: red;
    top: 5px;
    right: 5px;
    height: 45px;
    width: 45px;
}

.profile{
    position: absolute;
    width: 80px;
    height: 30px;
    bottom: 5px;
    background-color: blue;
}

.box{
    position: absolute;
    width: 120px;
    height: 50px;
    text-align: center;
    right: 100px;
}

.dropDown{
    border: 10px black;
    border-radius: 12px;
    text-align: center;
}
.searchBar{
    position: relative;
    left: 30%;
}
.eventMapContainer{
    text-align: center;
    background-color: var(--Light);
}
.userInterfaceContainer{
    background-color: var(--Light);
    font-family:Arial;
    font-weight:bolder;
}
.filterEvents{
    font-weight: bolder;
    text-align: center;
}
#eventFilterType{
    border-radius: 5px;
    background-color: var(--Grey);
    height: 25px;
    font-weight: bolder;
}
.nametag{
    margin-top: 5px;
    background-color: var(--Background-light);
    border-radius: 5px;
    box-shadow: 5px black;
}