
.submitbutton{
    background-color: rgb(0, 149, 255);
    font-size: 10px;
}
#tagsContainer{
    display: flex;
    flex-direction: row;
    background-color: var(--Light);
    padding:7px;
    overflow-x: scroll;
    max-width: 100%;
    
}
.inline-block{
    display: inline-block;
}

.filterBtn{
    max-height: 20px;
    background-color: rgb(0, 149, 255);
    color: white;
    border-radius: 10px;
    padding: 3px;
    margin-left: 10px;
}

.filterBtn:hover{
    max-height: 20px;
    background-color: #cfe4ff;
    color: #1d86d2;
    border-radius: 10px;
    padding: 3px;
    margin-left: 10px;
}

.filterBtn:active{
    max-height: 20px;
    background-color: #ffffff;
    color: #1d86d2;
    border-radius: 10px;
    padding: 3px;
    margin-left: 10px;
}

.filterBtn:focus{
    max-height: 20px;
    background-color: #ffffff;
    color: #1d86d2;
    border-radius: 10px;
    padding: 3px;
    margin-left: 10px;
}

.filterBanner{
    text-align: center;
    background-color: rgb(0, 149, 255);
}

.filterBtn:focus{
    background-color: blue;
    color: white;
}
.filterBtn_cont{
    max-height: 25px;
    margin-left: 5px;
    cursor: pointer;
}