/* Popup style */

  
  .EditPopUpbox {
    position: relative;
    margin: 0 auto;
    margin-top: calc(100vh - 85vh - 20px);
    background:Var(--Light-D2);
    border-radius: 4px;
    padding: 20px;
  }
  .popup-box {
    position: fixed;
    width: 31.3em;
    height: fit-content;
    top: 0;
  }
  
  .Edit-close-icon {
    content: 'x';
    border: none;
    position: fixed;
    background: Var(--Light-D2);
    line-height: 18px;
    text-align: center;
    font-size: 20px;
    z-index: 99;
    margin-left: 400px;
  top: 24vh;
    left: -40px;

  }
  .profileEditor{
    width: fit-content;
  }