/* Popup style */

  
  .EditPopUpbox {
    position: relative;
    left: 50vw;
    transform: translateX(-50%);
    margin: 0 auto;
    margin-top: calc(100vh - 85vh - 20px);
    background:Var(--Light-D2);
    border-radius: 4px;
    padding: 20px;
    z-index: 4000 !important;
  }
  .popup-box {
    position: fixed;
    width: 22.em;
    height: fit-content;
    top: 0;
  }
  
  .Edit-close-icon {
    content: 'x';
    border: none;
    position: relative;
    background: Var(--Light-D2);
    line-height: 18px;
    text-align: center;
    font-size: 20px;
    z-index: 99;
    top: 24vh;
    left: 160px;

 
  }
  .profileEditor{
    width: fit-content;
  }
  .bioField{
    width: 100%;
    padding: 4px;
  }
  .choosePictureButton{
    width: 100%;
  }
  #editbtnSubmitProfPage{
    border: none;
    font-size: 16px;
  }
