.container{
    display: grid;
    gap: 15px;
    grid-template-columns: 400px 400px ;
    grid-template-rows: 400px 400px 400px 400px 400px;
    justify-content: center; 
    margin-top: 150px;
}
.item{
    background-color:black;
    font-size: 30px;
    color: white;
}
h1{
    color: white;
    background-color: rgb(96, 95, 109);
    position: fixed;
    text-align: center;
    display: inline;
    width: 100%;
    padding: 20px;
    top: -25px;
    z-index: 3;
}
body{
    background-color: rgb(209, 241, 214);
    margin: 0px;
}
.photo{
    width: 400px;
    height: 400px;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    position: absolute;
    z-index: 2;

   
}
.text1{
    font-size: 50px;
    position: absolute;
    z-index: 1;
    
}
.text2{
    font-size: 30px;
    width: 400px;
    height: 400px;
    font-family:'Times New Roman', Times, serif ;
}
.space{
    background-color:black;
    color: white;
    opacity: 0;
    
}

.photo:active, .photo:hover{
    animation: gainOpacity 120s;
}

@keyframes gainOpacity {
    0%{
        opacity: 1;

    }
    5%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
    
}






/*


    grid-template-areas: 
    "header header header"
    "main . side"
    ". . ."
    "main . side"
    ". . ."
    "main . side"
    ". . .";

*/
