.container{
    display: grid;
    gap: 15px;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 400px 400px 400px 400px 400px;
    justify-content: center; 
}
.item{
    background-color:rgb(149, 232, 243);
}
h1{
    color: white;
}
body{
    background-color: black;
}




/*


    grid-template-areas: 
    "header header header"
    "main . side"
    ". . ."
    "main . side"
    ". . ."
    "main . side"
    ". . .";

*/
