:root {
    --horizontal: 500px;
}

.parent1 {
    width: 150px;
    height: 150px;
    border: 3px inset blue;
    margin-bottom: 30px;
    position: relative;
    background-size: 150px 150px;
}
.whats{
    width: 150px;
    height: 150px;
}
.A {
    background-image: url("Images/ready.jpg");
}

.B {
    background-image: url("Images/Vossi.jfif");
}

.D {
    background-image: url("Images/homecoming.jfif");
}

.E {
    background-image: url("Images/lambo.jpg");
}

.F {
    background-image: url("Images/frozen.jfif");
}

.G {
    background-image: url("Images/slow.jfif");
}

.H {
    background-image: url("Images/happy.jpg");
}

.text {
    align-self: center;
    color: purple;
    background-color: green;
    width: auto;
    text-align: center;
}

#dA:checked+.parent1 {
    --horizontal: 200px;
    animation: Animate 5s ease-in-out forwards;
}

.C {
    width: 150px;
    height: 150px;
    background-image: url("Images/perception.jpg");
    background-size: 150px 150px;
}

#dB:checked+.parent1 {
    --horizontal: 800px;
    animation: Animate 5s ease-in-out forwards;
}

#dC:checked+.parent1 {
    --horizontal:1000px;
    animation: favourite 5s ease-in-out forwards;
}

#dD:checked+.parent1 {
    --horizontal: 800px;
    animation: Animate 5s ease-in-out forwards;
}

#dE:checked+.parent1 {
    --horizontal: 500px;
    animation: Animate 5s ease-in-out forwards;
}

#dF:checked+.parent1 {
    --horizontal: -2000px;
    animation: Animate 5s ease-in-out forwards;
}

#dG:checked+.parent1 {
    --horizontal: 800px;
    animation: Animate 5s ease-in-out forwards;
}

#dH:checked+.parent1 {
    --horizontal: 100px;
    animation: Animate 5s ease-in-out forwards;
}

@keyframes Animate {
    0% {
        left: 0;
    }
    100% {
        position: relative;
        transform: translateX(var(--horizontal));
    }
}

@keyframes favourite {
    0% {
        left: 0;
        background-image: url("Images/perception.jpg");
    }
    100% {
        background-image: url("Images/yes.jfif");
        position: relative;
        transform: translateX(var(--horizontal));
    }
}