.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 200px);
    gap: 3px;
    
    grid-template-areas: "header header header header";
}
.item{
    background-color: aqua;
}
.header{
    grid-area: header;
    background-color: tomato;
}