/*.popup-box {
    position: relative;
    left: 44.5vw;
    top: 30vh;
    transform: translate(-50%, -50%);
    background: #ffffff;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.274);
    width: 79%;
    height: fit-content;
    border-radius: 10px;
    padding: 20px;
    display: grid;
    grid-template-columns: auto;
    background-color: var(--Navy-blue);
    color: var(--Light-D2);
}*/

.box {
    position: relative;
    width: 70%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
}

.close-icon {
    content: 'x';
    cursor: pointer;
    position: relative;
    right: calc(15% - 30px);
    top: calc(100vh - 85vh - 33px);
    background: #ededed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 1px solid #999;
    font-size: 20px;
}

.infoTitle{
    text-align: center;
    grid-area: "title";
}

.inputTitle{
    grid-area: "inputTitle";
}

.hostName{
    grid-area: "hostName";
}

.imgUrl{
    grid-area: "imgUrl";
}

.date{
    grid-area: "date";
}

.street{
    grid-area: "street";
}

.city{
    grid-area: "city";
}

.building{
    grid-area: "building";
}

.maxCap{
    grid-area: "maxCap";
}

.phoneNum{
    grid-area: "phoneNum";
}

.email{
    grid-area: "email";
}

.webUrl{
    grid-area: "webUrl";
}

.date{
    grid-area: "date";
}

.timeData{
    text-align: center;
    grid-area: "timeData";
}


.description{
    grid-area: "description";
}


.Tags{
    text-align: center;
    grid-area: "tagSubmit";
}

.draftSave{
    grid-area: "draftSave";
}

.trueSubmit{
    grid-area: "trueSubmit";
}

.submitButton{
    background-color: var(--Grey-D2);
    border-radius: 20px;
    margin-top: 10px;
}

.textBasic{
    background-color: var(--Grey);
    border-radius: 5px;
    margin-top: 10px;
}

.popup-box {
    position: relative;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    background: #ffffff;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.274);
    width: 79%;
    height: fit-content;
    border-radius: 10px;
    padding: 20px;
    background-color: var(--Navy-blue);
    color: var(--Light-D2);
    
    display: grid;
    /*grid-template-columns: repeat(6, 1fr); /*6 columns*/
    /*grid-template-rows: repeat(14, auto); /*14 rows*/
    grid-template-areas: 
    "title"
    "inputTitle"
    "hostName"
    "imgUrl"
    "street city"
    "building maxCap"
    "phoneNum email"
    "webUrl"
    "date timeData"
    "description"
    "description"
    "tagSubmit"
    "tagSubmit"
    "draftSave trueSubmit";
    
}
