
.box {
    position: relative;
    width: 70%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
}

.close-icon {
    content: 'x';
    cursor: pointer;
    position: relative;
    right: calc(15% - 30px);
    top: calc(100vh - 85vh - 33px);
    background: #ededed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 1px solid #999;
    font-size: 20px;
}

.infoTitle{
    text-align: center;
    grid-area: "title";
    font-size: 20px;
    padding-bottom: 10px;
}

.submitButton{
    background-color: var(--Grey-D2);
    border-radius: 20px;
    margin-top: 10px;
}

.textBasic{
    background-color: var(--Grey);
    border-radius: 5px;
    margin-top: 10px;
}

.createArticle-popup-box {
    position: relative;
    left: 50vw;
    top: 25vh;
    
    height: 60vh;
    overflow-y: auto;
    transform: translate(-50%, -25%);
    background: #ffffff;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.274);
    width: 79%;
   
    border-radius: 10px;
    padding: 20px;
    background-color: var(--Navy-blue);
    color: var(--Light-D2);
    
    display: flex;
    flex-direction: column;
    /*grid-template-columns: repeat(6, 1fr); /*6 columns*/
    /*grid-template-rows: repeat(14, auto); /*14 rows*/
    
    
}
.createArticle-popup-box input{
    background-color: rgb(231, 231, 231);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}
.tagBox{
    display: flex;
    flex-direction: row;

}
.tagForm{
    display: inline-block;
    margin: 5px;
}