.box {
    position: relative;
    width: 70%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    overflow: auto;
}

.close-icon {
    content: 'x';
    cursor: pointer;
    position: relative;
    right: calc(15% - 30px);
    top: calc(100vh - 85vh - 33px);
    background: #ededed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    font-size: 20px;
}

.infoTitle{
    text-align: center;
    grid-area: "title";
    font-size: 20px;
    padding-bottom: 10px;
}

.submit{
    background-color: var(--Grey);
    height: 40px;
    border-radius: 15px;
    margin-top: 10px;
    border: none;
}

.textBasic{
    background-color: var(--Dark-D2);
    border-radius: 5px;
    margin-top: 10px;
}
.createArticle-popup-box {
    position: relative;
    max-width: 100%;
    max-height: 90vh;
    overflow-y: auto;
    background-color: var(--Light);
    color: var(--Navy-blue);
    margin: 15px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 10px;
    /*grid-template-columns: repeat(6, 1fr); /*6 columns*/
    /*grid-template-rows: repeat(14, auto); /*14 rows*/
    
    
}
.createArticle-popup-box input{
    background-color: /*rgb(231, 231, 231)*/var(--Grey);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    color: var(--Dark-D2);
}
.tagBox{
    display: flex;
    flex-direction: row;

}
.tagForm{
    display: inline-block;
    margin: 5px;
}


/*For autogrowing textbox
https://css-tricks.com/auto-growing-inputs-textareas/
*/
.expandBox {
    display: block;
    background-color: /*rgb(231, 231, 231)*/ var(--Light-D2);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    color: var(--Dark-D2);
    font-family:sans-serif;
    font-size: 15px;
}

.textarea {
    display: block;
    width: 100%;
    overflow: hidden;
    resize: both;
    min-height: 40px;
    line-height: 20px;
    color: #586d8e;
}
  
.textarea[contenteditable]:empty::before {
  content: "Enter event description";
  color: #586d8e;
}
/*Autogrowing box changes end here*/
.Button{
    width: 190px;
}
.Button2{
    height: 100px;
    background-color: var(--Navy-blue);
    color: var(--Grey);
    width: 100px;
}
.Button3{
    height: 100px;
    background-color: var(--Navy-blue);
    color: var(--Grey);
    width: 100px;
    position: relative;
    left: 65vw;
    bottom: 3vh;
}
.Header{
    text-align: center;
    font-size: 40px;
    color: var(--Navy-blue);
    background-color: var(--Background-blue);
}
.Images{
    padding-left: 10px;
}