.imageSelector{
    gap: 20px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border-radius: 10px;
    border: black solid 2px;
    background: blueviolet;
}

