
.cards 
{
 background-color: blue;
 display: grid;
 grid-template-columns: repeat(2, 100px);
 grid-template-rows: repeat(2, 100px);
 padding: 20px 40px;
 border-width: 10px;
 border-color: red;
 margin: 40px;
 color: white;
}
.flipped{
    background-color: white;
    color: black;
}
