.container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
div{
  background-color: whitesmoke;
  font-weight: bold;
}
h2{
  background-color: thistle;
  max-width: 500px;
}
p{
  background-color: beige;
  max-width: 500px;
}
img{
  margin: 10px;
}