
body{
    background-color:#152238 ;
    color:#152238 ;
}
.butt{
    float: left;
    background-color: #4A90E2;
    color: white;
    border-radius: ;
}
.Uset{
    background-color: #4A90E2;
    color: white;
    border-radius: ;
}