body{
    margin:0px;
}
nav{
    background-color: tomato;
    text-align: center;
    padding: 15px;
    color: white;
    position:fixed;
    width:100%;
    top:0px;
    z-index: 1;
}
.menu{
    text-align:left;
    position:absolute;
}
.container{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-evenly;
    margin: 10px auto;
    max-width:550px;
}
.card{
    min-width: 160px;
    max-width:165px;
    height:240px;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, .5);
}
.circle{
    left:85vw;
    top:80vh;
    width:120px;
    height:120px;
    border-radius: 120px;
    position:fixed;
    box-shadow: 20px 20px 25px rgba(0, 0, 0, .5);
    background-color: tomato;
    text-align: center;
    font-size:100px;
}