.cards{
    display: grid;
    grid-template-columns: repeat(2,400px);
    grid-template-rows: repeat(2, 400px);
    gap: 5px;
}
.card{
    background-size: contain;
    background-repeat: no-repeat;
    user-select: none;
    cursor: pointer;
    height: 100%;
    width: 100%;
    background-color: rgb(190, 158, 98);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color:white;
}
.card--hide{
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color:white;
}