

 body{
    margin: 0px;
}/*
.container{
    display: grid;
    grid-template-columns:repeat(5, 1fr);
    grid-template-rows: repeat(4, 200px);
    gap:3px;

    grid-template-areas: 
    "header header header header"
    "Food . Food . Food"
    "pic . pic . pic"
    'Disc . Disc . Disc'


    
    
    ;


}*/
.header{
    position: static;
    background-color: salmon;
    padding: 6px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    position: static;
}
h1{
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}/*
.item2{

    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}*/
.name
{
    color: salmon;

}

.Disc{
    font-family: sans-serif;
    
}
 #Food1{
    animation: moveleftwards1 3s forwards;
}
#Food2{
    animation: moveleftwards2 3s forwards;

}
#Food3{
    animation: moveleftwards3 3s forwards;
    
}




@keyframes moveleftwards1 
{
    from {
        position: absolute;
        left: -50%;
    }
    to {
        position: absolute;
        left: 70%;
        
        
    }
}

@keyframes moveleftwards2 
{
    from {
        position: absolute;
        left: -50%;
    }
    to {
        position: absolute;
        left: 37%;
        
        
    }
}

@keyframes moveleftwards3 
{
    from {
        position: absolute;
        left: -50%;
    }
    to {
        position: absolute;
        left: 5%;
        
        
    }
}

 .container
{
    display: grid;
    gap: 5px;
    grid-template-columns: 33vw 33vw 33vw ;
    grid-template-rows: 400px 200px 300px;
    

}

.item2
{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.pic{
    position: relative;
    width: 250px;
    height: 250px;
    left: 120px;
}
p{
    width: 30vw;
}