.body{
    background: teal;
}
/*
.menu{
    position: relative;
    left: 35vw;
}
*/
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3f3f3;
    display: block;
}
li{
    float: left;
}
li a{
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    background-color: #ddd;
}
  
li a.active {
    color: white;
    background-color: red;
}