.main{
  gap: 10px;
  vertical-align: middle;
  color: rgb(21, 75, 21);
  background-color: rgb(133, 79, 8);

  display: grid;
  grid-template-areas: 
    "title . . . ."
    "author . publisher . date"
    ". . . . ."
    "para1 para1 . image image"
    "para1 para1 . image image"
    "para1 para1 . imgCap imgCap"
    "para2 para2 para2 para2 para2"
    "para2 para2 para2 para2 para2";
}

header{
  font-size: 60px;
}

.blogTitle{
  grid-area: "title";
  background-color: cadetblue;
  padding: 10px 10px;
}

.author{
  grid-area: "author";
  font-size: 12px;
  padding: 10px 10px;
  background-color: cadetblue;
  color: rgb(21, 75, 21);
}
.publisher{
  grid-area: "publisher";
  font-size: 12px;
  vertical-align: middle;
  padding: 10px 10px;
  background-color: cadetblue;
  color: rgb(21, 75, 21);
}
.date{
  grid-area: "date";
  font-size: 12px;
  vertical-align: middle;
  padding: 10px 10px;
  background-color: cadetblue;
  color: rgb(21, 75, 21);
}

.photoFrame{
  align-items: center;
  grid-area: "image";
  background-color: cadetblue;
  font-size: 25px;
}

.photoDescription{
  grid-area: "imgCap";
  background-color: none;
  color: rgb(21, 75, 21);
  font-size: 25px;
}

.para1{
  background-color: none;
  color: rgb(235, 235, 44);  
  font-size: 35px;
  grid-area: "para1";
}

.para2{
  background-color: none;
  color: rgb(235, 235, 44);  
  font-size: 35px;
  grid-area: "para2";
}