/*
.box{
  background-color: gold;
  border: 2px dashed black;
}

.jaime{
    float: right;
    margin: 10px;
}

p, h1{
  margin: 10px;
}
*/

.jaimeszymon{
  display: flex;
  flex-direction: row;
  border-collapse: collapse;
  margin: 5px;
}

.box2{
  background-color: grey;
  border: 2px dotted black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 2px;
}
.img{
  max-width: 350px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 5px;
}