
.topNavContainer{
    position: fixed;
    display: inline-block;
    justify-content: space-evenly;
    vertical-align: auto;

    width: 100%;
    /* max-width: 500px; */
    top: 0px;
    height: fit-content;
    

    z-index: 1;
    background-color: var(--Light-blue);
    border-bottom: 1px solid Var(--Navy-blue);

}

.topNavSpacer{
    display: inline-block;
    justify-content: space-evenly;
    vertical-align: auto;

    width: 100%;
    max-width: 500px;
    top: 0px;
    height: fit-content;
    z-index: 0;
}

.titleDisplay{
    z-index: 0;
    text-align: center;
    font-size: bold;
}
