.App {
  text-align: center;
}

.App-header {
  background-color: #f1f1f1;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: calc(10px + 2vmin);
  color: rgb(63, 63, 63);
}

.img{
  width: 500px;
}