body{
    background-color: rgb(161, 161, 161);
}

#box1{
    width: 200px;
    height: 200px;
    background-color: rgba(0, 255, 0, 0.3);
    position: relative;
    left: 0px;
    transition: 1s all;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
}

#box2{
    width: 200px;
    height: 200px;
    background-color: rgba(255, 0, 0, 0.5);
    position: relative;
    left: 0px;
    transition: 1s all;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
}

#timer{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.288);
}

#reset {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.288);
}