#box1{
    width: 200px;
    height: 200px;
    background-color: rgba(0, 255, 0, 0.3);
    position: relative;
    left: 0px;
    transition: 1s all;
}

#box2{
    width: 200px;
    height: 200px;
    background-color: rgba(255, 0, 0, 0.3);
    position: relative;
    left: 0px;
    transition: 1s all;
}