.box{
  width: 100px;
  height: 100px;
}

.blue{
  background: blue;
}

.brown{
  background: brown;
}

.circle{
  background: red;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  position: absolute;
  top:0px;
  left:0px;
  transition: all 100ms;
}