.box{
  background-color: pink;
  display: flex;
  flex-direction: row;
}
.h1{
  font-family: cursive;
  color: purple;
}
.img{
  width: 400px;
  height: 600px;

}
.text1{
  font-size: 30px;
  font-style: italic;
  margin-left: 100px;
  margin-right: 75px;
  margin-bottom: 400px;
  color: rgb(27, 6, 59);
  background-color: rgba(204, 194, 203, 0.603);

}
