.box1{
  width: 200px;
  height: 200px;
  background-color: aqua;
}

.box2{
  width: 200px;
  height: 200px;
  background-color: aqua;
  margin-top: 10px;
}

.box3{
  width: 200px;
  height: 200px;
  background-color: aqua;
  margin-top: 10px;
  
  
}
.container{
  flex-direction: row;
}