.box{
    width: 200px;
    height: 200px;
    background: green;
    position: relative;
    background-size: 200px;
}

.box:active .box:hover{
    animation: move 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes move{
    from{
        left: 0vw;
    }
    to{
        left: 70vw;
    }
}