.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.box{
  display: grid;
  grid-template-columns: [first] 33% [line2] 33% [line3] 33%;
  grid-template-rows: 200px 200px 100px;
  background-color: midnightblue;
  color: white;
  font-size: 10px;
  width: 100%;

}
.image1{
  height: 100%;
  width: 100%;
  background-size:cover;
  background-repeat: no-repeat;
  background-image: url(https://ae01.alicdn.com/kf/H3b30abb764d4410ba103285f305eeccfz/TOMY-Pokemon-Elf-Ball-Deformation-Toy-Model-Pikachu-Jenny-Turtle-Mewtwo-Pokemon-Action-Figure-Toy-Movable.jpg_640x640.jpg);
}
.image1:hover{
  background-image: url(http://i.ebayimg.com/images/g/xu8AAOSwdGFY4PZ8/s-l500.jpg);
  height: 100%;
  width: 100%;
  background-size:cover;
  background-repeat: no-repeat;
}
.image2{
 height: 100%;
  width: 100%;
  background-size:cover;
  background-repeat: no-repeat;

}
.image3{
 height: 100%;
  width: 100%;
  background-size:cover;
  background-repeat: no-repeat;

}
.image4{
 height: 100%;
  width: 100%;
  background-size:cover;
  background-repeat: no-repeat;

}
.image5{
 height: 100%;
  width: 100%;
  background-size:cover;
  background-repeat: no-repeat;

}
.image6{
 height: 100%;
  width: 100%;
  background-size:cover;
  background-repeat: no-repeat;

}
.image7{
 height: 100%;
  width: 100%;
  background-size:cover;
  background-repeat: no-repeat;

}
.image8{
 height: 100%;
  width: 100%;
  background-size:cover;
  background-repeat: no-repeat;
  

}
.image9{
 height: 100%;
  width: 100%;
  background-size:cover;
  background-repeat: no-repeat;

}

.h1{
  flex: 432px;
  font-size: 3000px;
}
.hello
{
  background-color: brown;
  color: green;
}