:root {
	--Dark: #040404;
	--Dark-L1: #0e1317;
	--Dark-L2: #191e22;
	--Grey: #A4B0C1;
	--Grey-D1: #637897;
	--Grey-D2: #586d8e;
	--Light: #f7fbff;
	--Light-D1: #edf2f6;
	--Light-D2: #e4e8ec;
	--Primary: #0077cc;
	--Background-light: #c8e6ff;
	--Navy-blue: #043c6c;
	--Light-blue: #54a4d4;
}

body{
	background-color: var(--Background-light);
}