#box1{
    width: 100px;
    height: 100px;
    background-color: burlywood;
    position: relative;
    left: 0;
    transition: 1s all;
    margin: 10px;
    text-align: center;
}
#box2{
    width: 100px;
    height: 100px;
    background-color: burlywood;
    position: relative;
    left: 0;
    transition: 1s all;
    margin: 10px;
    text-align: center;
}
#c12{
    left: 50%;
    transition: 1s all;
    margin: 10px;
}