.cards{
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    font-size: 75px;
    background-image: fill;
    background-color: coral;
}

    

