.cards{
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    font-size: 75px;
    background-image: fill;
    background-color: coral;
}
div{
    width: 200px;
    height: 200px;
    object-fit: fill;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid black;
}
    

